

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
.img{ height: 100px;
    width: 100px;
    margin: 50px;
    float: right;
    border-radius: 65px;
}
body{ 

    background-color: rgb(7, 27, 66);
    color: rgb(192, 213, 231);
}
.header{
    position:fixed;
    top: 0;
    left: 0;;
    width: 100%;
    padding: 20px 10%;
    background-color: rgb(12, 32, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color: rgb(224, 209, 209);
    text-decoration: none;
    font-weight: 600;
    
}
.navbar a {
    font-size: 18px;
    color: rgb(219, 225, 231);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;

}
.navbar a:hover,
.navbar a:active{
    color: rgb(46, 122, 122);
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;


}

.home-content{
    max-width: 600px;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(14, 158, 158);
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content.btn-box{
    display: flex;
    justify-content: space-between;
    width: 365px;
    height: 50px;
   
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150%;
    background-color: #0e6cb9;
    border: 2px solid rgb(62, 105, 185);
    border-radius: 8px;
    font-size: 19px;
    color: rgb(22, 20, 20);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;

}
.btn-box a:nth-child(2){
    background: transparent;
    color: rgb(16, 123, 194);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0 ;
    background: rgb(10, 42, 90);
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}